* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
html{
    font-family: Arial, Helvetica, sans-serif;
}
    
#main {
    
}
    
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    background-color: black;
}
    
#nav{
    
}
    
 #nav{
    display: inline-block;
}
    
#nav, .subnav{
    list-style: none;
}
    
#nav > li{
    display: inline-block;
}
    
#nav li{
    position: relative;
}
    
#nav >li >a{
    color: white;
}
    
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
    text-transform: uppercase;
}
    
#nav li:hover .subnav{
    display: block;
}
    
#nav .subnav li:hover a,
#nav >li:hover >a{
    background-color: #ccc;
    color: black;
}
    
#nav .subnav{
    display: none;
    top: 100%;
    left:0px;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px tan;
}
    
#nav .subnav a{
    color: black;
    padding: 0px 12px;
    line-height: 38px;
}
    
#nav .nav-arrow-down{
    font-size: 14px;
}
    
#header .search-btn{
    float: right;
    padding: 0 16px;
}
    
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
    
#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#slider{
    position: relative;
    margin-top: 46px;     
}

#slider #text-slider {
    position: absolute;
    bottom: 0;
    color: orangered;
    width: 100%;
    text-align: center;
    font-size: 50px;
}


#content{

    height: 1100px;

}

#content .sidebar{

    position: relative;
    height: 1000px;
    width: 30%;
    background-color: orangered;
    box-sizing: border-box;
    margin: 100px 0;
   
}

.sidebar .slider2{
    padding-top: 100%;
    overflow: hidden;
}
    
#information, 
.sidebar .information  h2 {
    display: block;
    padding-top: 20px;
    text-align:center ;
}

.sidebar .subinformation p{
    display: block;
    padding-left: 10px;
}

#content .sidebar2 {

    position: relative;
    background-color: orangered;
    height: 100px;
    width: 70%;
    right: -30%;
    bottom: 1100px;
}

#name, 
.sidebar2 .name{

    display: block;
    text-align: center;
    padding-top: 5px;
    color: peachpuff;
}

#content .sidebar3{

    position: relative;
    background-color: pink;
    height: 900px;
    width: 70%;   
    right: -30%;
    bottom: 1100px;

}

.sidebar3  {

    position: absolute;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}

.sidebar3 .van-ban{
    list-style: none;
}

    
   
    

#footer{

    display: block;
    text-align: center;
    margin-bottom: 200px;


}