:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  margin-top: 408px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 90px;
  height: 90px;
  border-radius: 75%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}
.search {
  height: 42px;
  position: relative;
  right: -40px;
  border-radius: 3px;
}

.btn__search{
  height: 42px;
  font-size: 14px;
  width: 340px;
  padding-left: 40px;
  outline: none;
  border-radius: 12px;
  border: none;
  background-color: #F3F3F4;
  position: relative;
}


.btn__search:hover {
  border: 1px solid rgb(150, 240, 255);
  box-shadow: 0px 5px 4px 1px rgb(150 240 255);
}

.btn__search:focus ~ .search__history {
  display: block;
}


.icon__search {
  position: absolute;
  left: 14px;
  top: 13px;
  color: #6E6D7A;
  z-index: 1;
}

.search__history {
  position: absolute;
  width: 500px;
  left: 2px;
  top: 52px;
  border-radius: 5px;
  height: 382px;
  background-color: #f5f5f5;
  border: none;
  box-shadow: 0px 3px 6px 2px rgb(0 0 0 / 30%);
  overflow: hidden;
  display: none;
}



/* .search .search__history {
  display: none;
}

.search.search-active .search__history {
  display: block;
} */



.search__history-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid rgb(203, 203, 203);
    color: rgb(110, 109, 122);
    border-radius: 5px;
    padding: 0 20px 0 20px;
}

.search__history-link:hover {
  background-color: #EBECF2;
}

.search__history-icon {
  font-size: 13px;
  padding-right: 8px;
  transform: rotate(180deg);
}

.search__history-text {
  font-size: 13px;
}
.user__img {
  height: 26px;
  width: 26px
}

.bell:hover {
  color: #2daaed;
}